@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@101.5,399&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  margin-top: 2%;
  margin-left: 2%;
  padding: 2%;
  border: 2px solid lightblue;
  width: 40%;
  border-radius: 9px;
  font-family: 'Fredoka', sans-serif;
  font-size: 24px;
}

.book-form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
}
